*.obj
*.log
*.suo
*.db
*.opendb
*.lock
*.ide
*.pdb
*.ide-shm
*.ide-wal
*.ipch
*.tlog
*.idb
*.ilk
.vs/*
*/obj/*
*.exe
*.iobj
*.ipdb
*.user
*.exe.config
algorithmlist.txt
algorithmlist.vb
*.bob
*.pyc
*.dat
Data/Filenames.txt
Data/AlgorithmMapToOpenCV.txt
unused_api.txt
obj/x64/*
bin/Debug/*
bin/Release/*
Azure-Kinect-Sensor-SDK
librealsense
OpenCV
VTK
eigen-git-mirror

