*.obj
*.log
*.db
*.suo
VB_Classes/Python/.vs/PythonDebug/v16/.suo
*.opendb
*.lock
*.ide
*.pdb
*.ide-shm
*.ide-wal
*.ipch
*.tlog
*.idb
*.ilk
.vs/*
*/obj/*
*.exe
*.enc
*.iobj
*.ipdb
*.user
*.exe.config
algorithmlist.txt
algorithmlist.vb
*.ocvb
*.pyc
*.recipe
Data/Filenames.txt
Data/AlgorithmMapToOpenCV.txt
unused_api.txt
*.cache
*.dll
OpenCVB/obj/*
bin/Debug/*
bin/Release/*
Azure-Kinect-Sensor-SDK
librealsense
OpenCV
VTK
bin
eigen-git-mirror
CPP_Classes/Debug/*
CPP_Classes/Release/*
Emgu_Classes/bin/*
*FileListAbsolute.txt
Data/svm_data.dat
packages/EMGU*
MYNT-EYE-D-SDK
~$README.md
