<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Numpy" version="3.7.1.16" targetFramework="net461" />
  <package id="OpenCvSharp4" version="4.3.0.20200524" targetFramework="net461" />
  <package id="OpenCvSharp4.runtime.win" version="4.3.0.20200524" targetFramework="net461" />
  <package id="OpenCvSharp4.Windows" version="4.3.0.20200524" targetFramework="net461" />
  <package id="Python.Included" version="3.7.3.4" targetFramework="net461" />
  <package id="Python.Runtime.NETStandard" version="3.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.5.20278.1" targetFramework="net461" />
</packages>